<% @report.hours.collect {|h| h[criteria[level]].to_s}.uniq.each do |value| %>
  <% hours_for_value = grand_total ? hours: select_hours(hours, criteria[level], value) -%>
  <% next if hours_for_value.empty? -%>
  <tr class="<%= cycle('odd', 'even') %> <%= grand_total ? 'total' : criteria.length > level+1 ? 'subtotal' : 'last-level' %>  <%= 'current-users-row' if criteria[level] == 'member' && User.current.try(:id) == value.to_i %>">
    <%= ("<td></td>" * level).html_safe %>
    <td>
      <% if grand_total %>
        <%= l(:label_total) %>
      <% elsif criteria[level] == 'issue' && !value.empty? %>
        <%=  link_to_issue Issue.find(value), :project => true %>
      <% else %>
        <%=  h(format_criteria_value(@report.available_criteria[criteria[level]], value)) %>
      <% end %></td>
    <%= ("<td></td>" * (criteria.length - level - 1)).html_safe -%>
    <% total = 0 -%>
    <% criteria_set = {} -%>
    <% @report.periods.each do |period| -%>
      <td class="hours">
        <% data = select_hours(hours_for_value, @report.columns, period.to_s) %>
        <% sum = sum_hours(data); total += sum -%>
        <% if sum > 0 %>
          <% period_from, period_to = nil, nil -%>
          <% case when @report.columns.to_s == 'day'; period_from = period_to = period -%>
          <% when @report.columns.to_s == 'week'; period_from = Date.commercial(data[0]['tyear'].to_f, data[0]['tweek'].to_f, 1); period_to = period_from + 6 -%>
          <% when @report.columns.to_s == 'month'; period_from = Date.civil(data[0]['tyear'].to_f, data[0]['tmonth'].to_f, 1); period_to = (period_from >> 1) - 1 -%>
          <% when @report.columns.to_s == 'year'; period_from = Date.civil(data[0]['tyear'].to_f, 1, 1); period_to = Date.civil(data[0]['tyear'].to_f, 12, 31) -%>
          <% end -%>
        <% period_from = params[:from].to_s.to_date if !params[:from].blank? && params[:from].to_s.to_date > period_from %>
        <% period_to = params[:to].to_s.to_date if !params[:from].blank? && params[:to].to_s.to_date < period_to %>
          <% (level+1).times do |i|  -%>
            <%  criteria_set[criteria[i].to_sym] = data[0][criteria[i]].to_s -%>
          <% end unless grand_total %>
          <%= link_to html_hours("%.2f" % sum), {:controller => 'timelog', :action => 'index', :from => period_from, :to => period_to}.merge(criteria_set) %>
        <% end -%>
      </td>
    <% end -%>
    <td class="hours"><%= (link_to html_hours("%.2f" % total), {:controller => 'timelog', :action => 'index', :period => params[:period], :from => @from, :to => @to}.merge(criteria_set)) if total > 0 %></td>
  </tr>
  <% break if grand_total  %>
  <% if criteria.length > level+1 -%>
    <%= render(:partial => 'report_criteria', :locals => {:criteria => criteria, :hours => hours_for_value, :level => (level + 1), :grand_total => false}) %>
  <% end -%>

<% end %>
